<div class="header">
  <div class="header-left">
    <div class="header-logo">
      <img src="/assets/Frame.svg" alt="logo">
    </div>
    <nav class="header-nav">
      <div class="header-nav-item">{{headerItem1}}</div>
      <div class="header-nav-item">{{aboutCompany}}</div>
      <div class="header-nav-item" *ngIf="isShowCatalog">{{headerItem3}}</div>
      
    </nav>
    <button (click)="isShowCatalog = !isShowCatalog">кнопка</button>
    
  </div>
  <div class="header-right">
    <div class="header-right-phone">
      <img src="/assets/Phone.svg" alt="phone">
      <p>+7 (965) 084-29-29</p>
    </div>
    <div class="header-right-like">
      <img src="/assets/Vector.svg" alt="like">
    </div>
    <div class="header-right-cart">
      <button class="header-right-cart-btn">
        <img src="/assets/cart.svg" alt="img-cart">
        <span class="empty">Пусто</span>
      </button>
    </div>
  </div>
</div>
<div class="header2">
  <div class="header2-left">
    <nav class="header2-nav">
      <div class="header2-left-nav" *ngFor="let item of menuItems">{{item}}</div>
      <!-- <div class="header2-left-nav">Стройматериалы</div>
      <div class="header2-left-nav">Инструменты</div>
      <div class="header2-left-nav">Электрика</div>
      <div class="header2-left-nav">Интерьер и одежда</div> -->
    </nav>
    <button (click)="changeMenuText()">Шрифт</button>
  </div>
  <div class="header2-right">
    <div class="header2-right-input">
      <input type="search" placeholder="Поиск">
    </div>
    <div class="header2-right-location">
      <img src="/assets/map-pin (2) 1.svg" alt="">
      <span>Москва</span>
    </div>
  </div>
</div>
<div>
  <button (click)="isShowMan = !isShowMan">кнопка для мужчины</button>
  <img *ngIf="isShowMan" src="/assets/Rectangle 5.png" alt="background-large" width="100%">
</div>
<div class="content-container">
  <div class="item-cards">
    <div class="item-cards__pagination">
      <button class="item-cards__pagination-btn active-button" *ngFor="let item of newPages">{{item}}</button>
      <!-- <button class="item-cards__pagination-btn">2</button>
      <button class="item-cards__pagination-btn">3</button>
      <button class="item-cards__pagination-btn">4</button>
      <button class="item-cards__pagination-btn">5</button> -->
    </div>

    <div class="item-cards__grid">
      <div class="item-cards__grid-left">
        <div class="item-cards__grid-left-text">
          Строительно-отделочный инструмент
        </div>
        <div class="item-cards__grid-left-action">
          <span style="margin-right: 10px;">Перейти в каталог</span>
          <a class="item-cards__grid-left-action-link">
            <img src="/assets/Frame20.svg" alt="">
          </a>
        </div>
      </div>
      <div class="item-cards__grid-right">
        <div class="item-cards__grid-right-block"></div>
        <div class="item-cards__grid-right-block"></div>
        <div class="item-cards__grid-right-block"></div>
        <div class="item-cards__grid-right-block"></div>
      </div>
    </div>
  </div>

  <div class="item-goods">
    <div class="item-goods-pagination">
      <h5>Популярные товары</h5>
      <button>Посмотреть все товары</button>
    </div>
    <div class="item-goods-cart">
      <div class="item-goods-cart-1">
        <img  style="width: 200px;" src="/assets/image.png" alt="">
        <h5 style="font-size: 16px;">Круг зачистной 125х6х22</h5>
        <span style="font-size: 16px;">Артикул 00004</span>
        <span style="font-size: 16px;">Цена за штуку</span>
        <h5 style="font-size: 20px;">48 руб.</h5>
        <div class="item-goods-cartbtn">
          <span>Количество<br>- 1 +</span>
          <button>В корзину</button>
        </div>
      </div>
      <div class="item-goods-cart-1">
        <img  style="width: 200px;" src="/assets/image.png" alt="">
        <h5 style="font-size: 16px;">Круг зачистной 125х6х22</h5>
        <span style="font-size: 16px;">Артикул 00004</span>
        <span style="font-size: 16px;">Цена за штуку</span>
        <h5 style="font-size: 20px;">48 руб.</h5>
        <div class="item-goods-cartbtn">
          <span>Количество<br>- 1 +</span>
          <button>В корзину</button>
        </div>
      </div>
      <div class="item-goods-cart-1">
        <img  style="width: 200px;" src="/assets/image.png" alt="">
        <h5 style="font-size: 16px;">Круг зачистной 125х6х22</h5>
        <span style="font-size: 16px;">Артикул 00004</span>
        <span style="font-size: 16px;">Цена за штуку</span>
        <h5 style="font-size: 20px;">48 руб.</h5>
        <div class="item-goods-cartbtn">
          <span>Количество<br>- 1 +</span>
          <button>В корзину</button>
        </div>
      </div>
      <div class="item-goods-cart-1">
        <img  style="width: 200px;" src="/assets/image.png" alt="">
        <h5 style="font-size: 16px;">Круг зачистной 125х6х22</h5>
        <span style="font-size: 16px;">Артикул 00004</span>
        <span style="font-size: 16px;">Цена за штуку</span>
        <h5 style="font-size: 20px;">48 руб.</h5>
        <div class="item-goods-cartbtn">
          <span>Количество<br>- 1 +</span>
          <button>В корзину</button>
        </div>
      </div>
    </div>
  </div>
</div>
 
<footer>
  <div class="footer-container">
    <div class="footer-top">
      <div class="footer-top-left">
        <div class="footer-top-left-img">
          <img style="width: 59px; height: 39px;" src="/assets/footersvg.svg" alt="footer-logo">
        </div>
        <div class="footer-top-left-contactInfo">
          <div class="footer-top-left-1">
            <p style="font-size: 12px;"><img src="/assets/call-calling.svg" alt="">Контактный телефон</p>
            <h4>+ 7 (812) 309-09-34</h4>
            <h4>+ 7 (965) 084-29-09</h4>
          </div>
          <div class="footer-top-left-2">
            <p style="font-size: 12px;"><img src="/assets/sms.svg" alt="">Электронная почта</p>
            <h4>tustin78mail.ru</h4>
            <h4>infotustin.ru</h4>
          </div>
        </div>
      </div>
      <div class="footer-top-right">
        <h4>Остались вопросы?</h4>
        <span>Узнавайте первым о скидках, предложениях и событиях еженедельно в своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.</span>
        <br>
        <input type="email">
      </div>
    </div>
    <div class="footer-bottom">
      <nav class="footer-nav">
        <div class="footer-nav-item">Главная</div>
        <div class="footer-nav-item">О компании</div>
        <div class="footer-nav-item">Каталог</div>
      </nav>
      <div class="footer-links">
        <div class="footer-links-img">
          <img src="/assets/Social-Icons.svg" alt="">
          <img src="/assets/youtube.svg" alt="">
          <img src="/assets/Mini-Button.svg" alt="">
        </div>
        <div class="footer-dates">© 2021-2022, EDE</div>
      </div>
    </div> 
  </div>
  
</footer>