<div class="header">
  <div class="header-left">
      <div class="header-logo">
        <img src="/assets/Frame.svg" alt="logo">
      </div>
      <nav class="header-nav">
        <div class="header-nav-item">Главная</div>
        <div class="header-nav-item">О компании</div>
        <div class="header-nav-item">Каталог</div>
      </nav>
  </div>
  <div class="header-right">
      <div class="header-right-phone">
          <img src="/assets/Phone.svg" alt="phone">
          <p>+7 (965) 084-29-29</p>
      </div>
      <div class="header-right-like">
        <img src="/assets/Vector.svg" alt="like">
      </div>
      <div class="header-right-cart">
        <button class="header-right-cart-btn">Пусто</button>
      </div>
  </div>
</div>
<div class="header2">
  <div class="header2-left">
    <nav class="header2-nav">
      <div class="header2-left-nav">Каталог</div>
      <div class="header2-left-nav">Стройматериалы</div>
      <div class="header2-left-nav">Инструменты</div>
      <div class="header2-left-nav">Электрика</div>
      <div class="header2-left-nav">Интерьер и одежда</div>
    </nav>
  </div>
  <div class="header2-right">
    <div class="header2-right-input">
      <input type="search" placeholder="Поиск">
    </div>
    <div class="header2-right-location">
      <img src="/assets/map-pin (2) 1.svg" alt="">
      <span>Москва</span>
    </div>
  </div>
</div>
<div>
  <img src="/assets/Rectangle 5.png" alt="background-large" width="100%">
</div>
<div class="content-container">
<div class="item-cards">
  <div class="item-cards__pagination">
    <button class="item-cards__pagination-btn active-button">1</button>
    <button class="item-cards__pagination-btn">2</button>
    <button class="item-cards__pagination-btn">3</button>
    <button class="item-cards__pagination-btn">4</button>
    <button class="item-cards__pagination-btn">5</button>
  </div>
  
    <div class="item-cards__grid">
      <div class="item-cards__grid-left">
        <div class="item-cards__grid-left-text">
          Строительно-отделочный инструмент 
        </div>  
        <div class="item-cards__grid-left-action">
          <span style="margin-right: 10px;">Перейти в каталог</span>
          <a class="item-cards__grid-left-action-link">
            <img src="/assets/Frame20.svg" alt="">
          </a>
        </div>
      </div>
      <div class="item-cards__grid-right">
        <div class="item-cards__grid-right-block"></div>
        <div class="item-cards__grid-right-block"></div>
        <div class="item-cards__grid-right-block"></div>
        <div class="item-cards__grid-right-block"></div>
      </div>
    </div>
  </div>
</div>
